---
interface Props {
  title: string;
  subtitle?: string;
}

const {title, subtitle} = Astro.props;
---

<article class="flex flex-col gap-1">
  <header class="flex justify-between items-baseline">
    <div class="flex items-baseline gap-2">
      <h3 class="text-lg font-bold">{title}</h3>
      {subtitle && <p class="text-md">{subtitle}</p>}
    </div>
    <slot name="trailing" />
  </header>

  <slot />
</article>
