---
interface Props {
  title: string;
  subtitle?: string;
}

const {title, subtitle} = Astro.props;
---

<article class="flex flex-col gap-1">
  <header class="flex flex-col sm:flex-row gap-x-1 sm:justify-between sm:items-baseline">
    <div class="flex flex-wrap items-baseline gap-x-2">
      <h3 class="text-base sm:text-lg font-bold whitespace-nowrap">{title}</h3>
      {subtitle && <p class="text-sm sm:text-md whitespace-nowrap">{subtitle}</p>}
    </div>
    <slot name="trailing" />
  </header>

  <slot />
</article>
